@model Cart_ArathyPillai.Models.tbl_SubCategory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_SubCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.subcategoryname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subcategoryname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Category.categoryname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Category.categoryname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.subcategoryid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
